.footer__author {
  max-width: 880px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
  padding: 66px 0 60px;
}

.footer__author::before {
  content: '\A9 \2009';
}

@media screen and (max-width: 900px) {
  .footer__author {
    max-width: calc(100vw/1.45);
  }
}

@media screen and (max-width: 500px) {
  .footer__author {
    max-width: 100%;
    padding: 48px 0 36px 19px;
    font-size: 14px;
  }
}
