.add-button__icon {
  background-image: url('../../../images/Vector_add_button.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 22px;
  height: 22px;
  color: #FFFFFF;
  display: block;
  margin: 0 auto;
}
